.Level1_percents{
    border-radius: 10px;
    box-shadow: 0 0 3px gray;
    height: 100%;
    text-align: right;
    margin-bottom: 10px;
    padding: 10px;
    background-color: white;
}
.Level1_percentsl1_icon{
    margin-top: 10px;
    margin-left: 5px;
    color: darkorange;
}
.Level1_Side_Bar{
    border-radius: 10px;
    box-shadow: 0 0 3px gray;
    height: 100%;
    padding: 10px 10px !important;
    background-color: white;
}
.Level1_percents_form{
    text-align: center;
    width: 100%;
}
.Level1_percents_form_p{
    text-align: right;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 2px;
}
.Level1_percents_form_Input{
    direction: ltr;
}
.Container{
    margin: 0 !important;
    max-width: 100% !important;
}
.level_alert{
    border: 1px solid rgb(98, 192, 250);
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(220, 246, 255);
    color: rgb(0, 157, 255);
}
.Level1_main{
    padding-left: 0 !important;
}
@media screen and (max-width : 640px){
    .Level1_main{
        padding-right: 0 !important;
    }
}
.level1_title{
    height: 40px;
    background-color: rgb(10, 10, 250);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 10px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding-top: 5px;
}
.title_text{
    font-size: 16px;
    float: right;
}
.sideBar_radiobtn{
    padding: 2px;
    width: 105px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.radioBtn{
    margin-right: 9px;
}
@media screen and (max-width:680px){
    .Level1_Side_Bar{
        display: none;
    }
}
.filters{
    padding-right: 115px;
}
#dropdown-basic-button{
    font-size: 15px;
    padding:3px 20px;
}
.NavDownbar{
    position: relative;
    height: 50px;
    background-color: rgb(241, 237, 237);
    display: none;
    border-top: royalblue 2px solid;
}
.preList_btn{
    background-color: rgb(241, 237, 237);
    padding: 10% 7%;
    border-radius: 100%;
    position: absolute;
    right: 35%;
    bottom: 0;
    border-left: 1px solid royalblue;
    border-right: 1px solid royalblue;
    border-top: 4px solid royalblue;
    cursor: pointer;
}
@media screen and (max-width : 640px){
    .filters{
        padding-right: 0;
    }
    #dropdown-basic-button{
        height: 30px;
        font-size: 15px;
        padding:0 20px;
    }
    .NavDownbar{
        display: block;
    }
}
.rw-dropdown-list-input{
    padding-right: 10px !important;
}
@media screen and (min-width: 2000px){
    #dropdown-basic-button{
        height: 30px;
        font-size: 15px;
        padding:0 10px;
    }
    .filters{
        padding-right: 500px !important;
    }
}