.preinsurance{
    padding: 10px 250px;
    direction: rtl;
    text-align: right;
}
@media screen and (max-width : 680px){
    .preinsurance{
        padding: 10px 10px;
        text-align: center;
    }
}