@font-face {
  font-family: "yekan";
  font-weight: 400;
  font-style: normal;
  src: url('./Fonts/Yekan.woff') format('woff')/* Safari, Android, iOS */
}
@font-face {
  font-family: "yekanNum";
  font-weight: 400;
  font-style: normal;
  src: url("./Fonts/yekannumbers-regular.woff") format("woff");
}
body {
  margin: 0;
  font-family: 'yekan';
}

code {
  font-family: 'yekan';
}
